@import url(./bandeau.css);
@import url(./navbar.css);
@import url(./theme.css);
@import url(./MainPosts.css);
@import url(./tags.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
}

#popup_connexion{
    display: none;
    opacity: 0;
    z-index: 10;
    top: 7%;
    left: 7%;
    width: 85%;
    height: 85%;
    border: 2px solid black;
    background-color: #6070a2;
    position: fixed;
    justify-content:center;
    align-items:center;
}
#PopUpPoster{
    display: none;
    opacity: 0;
    z-index: 10;
    top: 7%;
    left: 7%;
    width: 90%;
    height: 85%;
    border: 2px solid black;
    background-color: #6070a2;
    position: fixed;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

