@import url(./bandeau.css);
@import url(./navbar.css);
@import url(./theme.css);
@import url(./MainPosts.css);
@import url(./tags.css);
@import url(./MenuDeroulant.css);
@import url(./popups.css);
@import url(./compte.css);
@import url(./horloge.css);
@import url(./profils.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
}


:root{
    --Light-color: #e1E1eb;
    --Dark-color: #405082;
}


.ZoneInput{
    padding-left: 30%;
    font-size: 20px;
    color: #e1e1eb
}

@media screen and (max-width : 767px) {
    .ZoneInput{
        padding-left: 20%;
    }
}
@media screen and (max-width : 640px) {
    .ZoneInput{
        font-size: 15px;
    }
}
@media screen and (max-width : 490px) {
    .ZoneInput{
        padding-left: 5%;
    }
}

