#bande{
	display: flex;
	margin-top:20px;
	padding: 10px;
	align-items: center;
	justify-content: space-between;
    margin-bottom: 10px;
    position: sticky;
    z-index: 3;
    top: 0px;
	min-height: 50px;
}
#bande > h1{
	justify-items: center;
	padding-left: 10px;
	width: 20%;
}
#liens{
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
    min-width: 210px;
}
#liens > a {
	font-size: 30px;
    text-decoration: none;
    text-align: center;
	cursor: pointer;
}
.zone_logo{
	display: flex;
	align-items:center;
	gap: 5px;
}
#logo-dark{
    display:none;
}
#logo-light{
    display:block;
}
#zone_parametres{
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 4px 4px 4px 4px #405082;
	overflow-x: hidden;
	position: fixed;
	transform: translateX(100vw);
	right: 0;
	width: 20vw;
	height: 70vh;
	top: 105px;
	z-index: 2;
	justify-content: center;
}
.BoutonTheme{
	position: absolute;
	bottom: 10%;
	border: 0px;
	padding: 5px;
	border-radius: 10px;
}

.PulseLight:hover{
	animation: pulseLight 1.5s infinite;
}
.PulseDark:hover{
	animation: pulseDark 1.5s infinite;
}
#StopMenu{
	position: absolute;
	top: 5%;
	left: 5%;
	z-index: 10;
}

@media screen and (max-width: 850px) {
	#liens > a{
		font-size: 20px;
	}	
}
@media screen and (max-width: 768px) {
    #liens{
		display: none;
	}
	.zone_logo >img {
		height: 40px;
	}
	.zone_logo>h1{
		font-size: 15px;
	}
	#zone_parametres{
		opacity: 0;
	}
}
@media screen and (max-width: 600px) {
	h1{
		font-size: 25px;;
	}
}

@keyframes pulseLight {
	0% {
	 box-shadow: 0 0 0 0 var(--Light-color);
	}
   
	70% {
	 box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
	}
   
	100% {
	 box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
	}
}
@keyframes pulseDark {
	0% {
	 box-shadow: 0 0 0 0 var(--Dark-color);
	}
   
	70% {
	 box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
	}
   
	100% {
	 box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
	}
}

