.popup{
    display: none;
    position: fixed;
    justify-content:center;
    align-items:center;
    z-index: 10;
    top: 7%;
    left: 7%;
    border: 2px solid black;
}

#popup_connexion{
    opacity: 0;
    width: 85%;
    height: 85%;
    flex-direction:column;
    gap: 50px;

}
#PopUpPoster{
    flex-direction: column;
    opacity: 0;
    width: 90vw;
    height: 85 vh;
    position: fixed;
    transition: 2s;
    gap: 10px;
}
.PopUpSupprime{
    width: 90%;
    height: 85%;
}
.StopPopUp{
    position: absolute;
    top: 10px;
    right: 10px;
}