#zone_tags{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tags{
    display: flex;
    flex-direction : row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.tag{
    border: 1px solid black;
    padding: 1px;
    cursor: pointer;
    margin-bottom: 2px;
    transition: 1s;
}
.poste_tag{
    margin-left: 10%;
    width: 70px;
    padding: 1px;
    margin-bottom: 2px;
}