.theme_dark{
    color: var(--Light-color);
    background-color: var(--Dark-color);
    transition: 1s;
}
.theme_light{
    color: var(--Dark-color);
    background-color: var(--Light-color);
    transition: 1s;
}
.theme_dark > a{
    color: var(--Light-color);
}
.theme_light > a {
    color:var(--Dark-color);
}
.theme_light > a:hover{
    color: #223264;
}
.theme_dark > a:hover{
    color:white;
}

.tag_Rose{
    color: rgb(253, 167, 182);
}

.tag_Violet{
    color: rgb(216, 0, 216);
}

.tag_Bleu{
    color: rgb(0, 140, 255);
}

.tag_Vert{
    color: rgb(0, 216, 0);
}

.tag_Rouge{
    color: red;
}

.tag_Orange{
    color: rgb(255, 166, 0);
}

.tag_Jaune{
    color: yellow;
}

.tag_Marron{
    color: rgb(168, 72, 72);
}